<header class="page__header">
    <div class="page__header-gradient"></div>

    <a class="page__header__logo" target="_blank" href="/">
        <img src="../../img/logo-ie.svg" alt="">
    </a>
</header>