<div class="block block--course" style="--border-color: #031282;">
    <div class="block__content">
        <h1>Career Success</h1>
        <p>Irina Zilbergleyt, Alejandra de la Peña García-Arquimbáu, Johan Turcios, and Teresa Callejo</p>

        <a href="#" class="btn btn--link btn--icon">
            ABOUT THE AUTHORS

            <span class="btn__icon">
                <svg role="presentation">
                    <use xlink:href="../../img/sprite.svg#chevron-right" />
                </svg>
            </span>

        </a>
    </div>
</div> <!--./block .block-course-->