<div class="block block--quiz" style="--border-color: #031282;">
    <div class="block__content">
        <h2 class="block__title">9. When I’m done writing my cover letter, I should … </h2>

        <div class="block__question">
            <div class="form-control__checkbox">
                <label class="container">
                    A. Send it immediately. 
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <!--form-control__checkbox-->
            <div class="form-control__checkbox">
                <label class="container">
                    B. Step away and proofread later.  
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <!--form-control__checkbox-->
            <div class="form-control__checkbox">
                <label class="container">
                    C. Ask a friend who is a fluent speaker to review it and give feedback. 
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <!--form-control__checkbox-->
            <div class="form-control__checkbox">
                <label class="container">
                    D. Ask the recruiter to let you know if should revise anything.
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <!--form-control__checkbox-->
        </div>

        <div class="block__buttons">
            <p>
                <span class="block__buttons-icon">
                    <svg role="presentation">
                        <use xlink:href="../../img/sprite.svg#location" />
                    </svg>
                </span>
                Question 9 of 15
            </p>

            <div>
                <a href="#" class="btn btn--link btn--icon">
                    <span class="btn__icon btn__icon-left">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>

                    Previous question
                </a>

                <a href="#" class="btn btn--secondary">Check your answer</a>
            </div>
        </div>
    </div>
</div> <!--./block .block-quiz-->