<div class="block block--authors" style="--border-color: #031282;">
    <div class="block__content">
        <img src="../../img/authors/irina-zilbergleyt.png" alt="" class="block__image">
        <h3 class="block__title">Irina Zilbergleyt</h3>
        <p class="block__job">Director of Advising and Education at Talent & Careers, IE University</p>

        <p>Irina is responsible for design and implementation of career education and advising strategy for all programs at IE.  The team at Talent & Careers delivers career-related classes to help IE students and alumni to map the most appropriate strategy for their professional development and to equip them with up-to-the-minute techniques to use in the recruitment selection processes.  Irina is also a career advisor and lecturer for the Master in Finance and MBA programs on how to break into investment banking and private equity industries.  Irina has over 11 years of experience in private equity and investment banking in New York and Chicago. Prior to joining IE, Irina was a Vice President at Ares Management and Senior Associate at Allied Capital, where she evaluated, structured and executed investments in real estate, private equity and fixed income asset classes. Previously, she was a Corporate Finance Analyst at Merrill Lynch where she participated in the execution of mergers and acquisitions as well as in transactions in the debt and equity capital markets. Irina holds an undergraduate degree in Finance (summa cum laude) from the University of Illinois at Urbana Champaign.</p>
    </div>
</div> <!--./block .block-authors-->