<div class="block block--intro" style="--border-color: #031282;">
    <div class="block__content">
        <img src="../../img/logo-ie.svg" alt="">
        <h1>Career Success</h1>
        <p>Irina Zilbergleyt, Alejandra de la Peña García-Arquimbáu, Johan Turcios, and Teresa Callejo</p>

        <ul class="list">
            <li>Estimated Time: 90 minutes</li>
            <li>Code XXX-XXX-I-M</li>
        </ul>

        <p class="copyright">IE &copy;2020</p>
    </div>
</div> <!--./block .block-course-->