<div class="block block--unit-header">
    <div class="block__content">
        <p>CVs that land Interviews!</p>
        <h1 class="block__title">
            CV or Curriculum Vitae
        </h1>
    </div>
</div> <!--./block .block-unit-header-->