<div class="block block--authors-header" ie-style="--border-color: transparent;">
    <div class="block__content">
        <h1 class="block__title">
            <span class="block__title-icon">
                <svg role="presentation">
                    <use xlink:href="../../img/sprite.svg#author" />
                </svg>
            </span>

            ABOUT THE AUTHORS
        </h1>
        <h2 class="block__course-name">Career success</h2>
    </div>
</div> <!--./block .block-authors-->