<div class="page page-cover page-intro">
    <header class="header">
        <div class="logo-nav">
            <div class="logo-nav__gradient"></div>
        </div>
    </header> <!--./header-->

    <main class="page__content">
        <div class="container">
            <div class="page__content-cover">
                <img src="../../img/dummy/cover.png" alt="">
            </div>
            
            <div class="block block--intro" style="--border-color: #031282;" ie-style="--border-color: #031282;">
                <div class="block__content">
                    <img src="../../img/logo-ie.svg" alt="">
                    <h1>Career Success</h1>
                    <p>Irina Zilbergleyt, Alejandra de la Peña García-Arquimbáu, Johan Turcios, and Teresa Callejo</p>
            
                    <ul class="list">
                        <li>Estimated Time: 90 minutes</li>
                        <li>Code XXX-XXX-I-M</li>
                    </ul>
            
                    <p class="copyright">IE &copy;2020</p>
                </div>
            </div>
            <!--./block .block-course-->

            <div class="page__content-buttons">
                <a href="#" class="btn btn--primary btn--icon">
                    START!

                    <span class="btn__icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                        </svg>
                    </span>
                </a>
                <!--./btn .btn-primary .btn-icon-->
            </div>
            <!--./page__content-buttons-->
        </div>
    </main>
</div>
