<div class="breadcrumbs">
    <ul>
        <li class="breadcrumbs__home">
            <a href="#">
                <span class="breadcrumbs__icon">
                    <svg role="presentation">
                        <use xlink:href="../../img/sprite.svg#home" />
                    </svg>
                </span>
                <span class="breadcrumbs__text">Home</span>
            </a>
        </li>
        <li>
            <a href="#">How to write winning CVs!</a>
        </li>
        <li>
            CVs that land Interviews!
        </li>
    </ul>
</div> <!--./breadcrumbs-->