<div class="page page-cover" id="pager">
    <header class="header">
        {{> @logo-nav}}

        <ul class="header__buttons">
            <li>
                <a href="#">
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>
                    Back
                </a>
            </li>
            <li>
                <a href="#">
                    Next
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>  <!--./header__buttons-->
    </header> <!--./header-->

    <main class="page__content">
        <div class="container">
            <div class="page__content-cover">
                <img src="../../img/dummy/cover.png" alt="">
            </div>
            
            <div class="block block--course" style="--border-color: #031282;" ie-style="--border-color: #031282;">
                <div class="block__content">
                    <h1>Career Success</h1>
                    <p>Irina Zilbergleyt, Alejandra de la Peña García-Arquimbáu, Johan Turcios, and Teresa Callejo</p>

                    <a href="#" class="btn btn--link btn--icon">
                        ABOUT THE AUTHORS

                        <span class="btn__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#chevron-right" />
                            </svg>
                        </span>

                    </a>

                    <div class="progress-bar">
                        <p class="progress-bar__text"><strong>80%</strong> completed</p>
                        <progress max="100" value="80"></progress>
                    </div>
                    <!--progress-bar-->
                </div>
            </div>
            <!--./block .block-course-->

            <div class="page__content-buttons">
                <a href="#" class="btn btn--primary btn--icon btn-unit">
                    START

                    <span class="btn__icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#arrow-rounded-right" />
                        </svg>
                    </span>
                </a>
                <!--./btn .btn-primary .btn-icon-->
            </div>
            <!--./page__content-buttons-->

            <div class="page__content-header">
                <h2 class="page__content-heading">
                    <span>
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#rocket" />
                        </svg>
                    </span>

                    What will you learn?
                </h2>

                <a href="#" class="btn btn--link btn--icon js-expand-all">
                    <span class="btn-text">EXPAND ALL</span>

                    <span class="btn__icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#arrows" />
                        </svg>
                    </span>
                </a>
            </div>
            <!--./page__header-->

            <div class="block block--accordion accordion" style="--border-color: #0097DC;" ie-style="--border-color: #0097DC;">
                <div class="accordion__header">
                    <a href="#" class="btn btn--link-double btn--icon active">
                        <span class="btn__icon btn__icon--left">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#check" />
                            </svg>
                        </span>

                        Introduction

                        <span class="btn__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                            </svg>
                        </span>
                    </a>
                    <!--./btn-link-double .btn-icon-->

                    <a href="#" class="accordion__button">
                        <span class="accordion__button-text">Expand</span>

                        <span class="accordion__button-icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrows" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="accordion__body">
                    <p>In this first module, you will begin by learning how to present your skills and qualifications
                        effectively and clearly; so that you are able to generate your own written overview of your life
                        work. Moreover, you will learn about the different ATS (applicant tracking systems), a type of
                        software commonly used by recruiters and employers during the hiring process to collect, sort,
                        scan, and rank the job applications they receive for their open positions.</p>

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle active">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            CVs that land Interviews!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="cv-vitae" data-unit="unit-cv-or-curriculum-vitae/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        CV or Curriculum Vitae

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon"  data-id="ie-cv-template" data-unit="unit-ie-cv-template/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        IE Template

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            It´s all about Bullets…
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="bullets" data-unit="unit-its-all-about-bullets/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        It’s all about Bullets…

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="powerful" data-unit="unit-185-powerful-verbs-that-will-make-your-resume-awesome/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Powerful Verbs that will make your resume awesome

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="convert-bullets" data-unit="unit-how-to-convert-bad-bullets-into-amazing-achievements/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        How to convert bad bullets into amazing achievements

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            Befriend the ATS!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="tracking-system" data-unit="unit-application-tracking-systems/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Application Tracking Systems

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->
                </div>
            </div>
            <!--./block .block-accordion-->

            <div class="block block--accordion accordion" style="--border-color: #BA43BB;" ie-style="--border-color: #BA43BB;">
                <div class="accordion__header">
                    <a href="#" class="btn btn--link-double btn--icon">
                        <span class="btn__icon btn__icon--left">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#check" />
                            </svg>
                        </span>

                        Introduction

                        <span class="btn__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                            </svg>
                        </span>
                    </a>
                    <!--./btn-link-double .btn-icon-->

                    <a href="#" class="accordion__button">
                        <span class="accordion__button-text">Expand</span>

                        <span class="accordion__button-icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrows" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="accordion__body">
                    <p>In this first module, you will begin by learning how to present your skills and qualifications
                        effectively and clearly; so that you are able to generate your own written overview of your life
                        work. Moreover, you will learn about the different ATS (applicant tracking systems), a type of
                        software commonly used by recruiters and employers during the hiring process to collect, sort,
                        scan, and rank the job applications they receive for their open positions.</p>

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle active">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            CVs that land Interviews!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="cv-vitae" data-unit="unit-cv-or-curriculum-vitae/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        CV or Curriculum Vitae

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon"  data-id="ie-cv-template" data-unit="unit-ie-cv-template/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        IE Template

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            It´s all about Bullets…
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="bullets" data-unit="unit-its-all-about-bullets/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        It’s all about Bullets…

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="powerful" data-unit="unit-185-powerful-verbs-that-will-make-your-resume-awesome/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Powerful Verbs that will make your resume awesome

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="convert-bullets" data-unit="unit-how-to-convert-bad-bullets-into-amazing-achievements/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        How to convert bad bullets into amazing achievements

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            Befriend the ATS!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="tracking-system" data-unit="unit-application-tracking-systems/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Application Tracking Systems

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->
                </div>
            </div>
            <!--./block .block-accordion-->

            <div class="block block--accordion accordion" style="--border-color: #C64F3D;" ie-style="--border-color: #C64F3D;">
                <div class="accordion__header">
                    <a href="#" class="btn btn--link-double btn--icon">
                        <span class="btn__icon btn__icon--left">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#check" />
                            </svg>
                        </span>

                        Introduction

                        <span class="btn__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                            </svg>
                        </span>
                    </a>
                    <!--./btn-link-double .btn-icon-->

                    <a href="#" class="accordion__button">
                        <span class="accordion__button-text">Expand</span>

                        <span class="accordion__button-icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrows" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="accordion__body">
                    <p>In this first module, you will begin by learning how to present your skills and qualifications
                        effectively and clearly; so that you are able to generate your own written overview of your life
                        work. Moreover, you will learn about the different ATS (applicant tracking systems), a type of
                        software commonly used by recruiters and employers during the hiring process to collect, sort,
                        scan, and rank the job applications they receive for their open positions.</p>

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle active">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            CVs that land Interviews!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="cv-vitae" data-unit="unit-cv-or-curriculum-vitae/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        CV or Curriculum Vitae

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon"  data-id="ie-cv-template" data-unit="unit-ie-cv-template/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        IE Template

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            It´s all about Bullets…
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="bullets" data-unit="unit-its-all-about-bullets/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        It’s all about Bullets…

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="powerful" data-unit="unit-185-powerful-verbs-that-will-make-your-resume-awesome/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Powerful Verbs that will make your resume awesome

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="convert-bullets" data-unit="unit-how-to-convert-bad-bullets-into-amazing-achievements/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        How to convert bad bullets into amazing achievements

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            Befriend the ATS!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="tracking-system" data-unit="unit-application-tracking-systems/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Application Tracking Systems

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->
                </div>
            </div>
            <!--./block .block-accordion-->

            <div class="block block--accordion accordion" style="--border-color: #3D8979;" ie-style="--border-color: #3D8979;">
                <div class="accordion__header">
                    <a href="#" class="btn btn--link-double btn--icon">
                        <span class="btn__icon btn__icon--left">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#check" />
                            </svg>
                        </span>

                        Introduction

                        <span class="btn__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                            </svg>
                        </span>
                    </a>
                    <!--./btn-link-double .btn-icon-->

                    <a href="#" class="accordion__button">
                        <span class="accordion__button-text">Expand</span>

                        <span class="accordion__button-icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrows" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="accordion__body">
                    <p>In this first module, you will begin by learning how to present your skills and qualifications
                        effectively and clearly; so that you are able to generate your own written overview of your life
                        work. Moreover, you will learn about the different ATS (applicant tracking systems), a type of
                        software commonly used by recruiters and employers during the hiring process to collect, sort,
                        scan, and rank the job applications they receive for their open positions.</p>

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle active">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            CVs that land Interviews!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="cv-vitae" data-unit="unit-cv-or-curriculum-vitae/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        CV or Curriculum Vitae

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon"  data-id="ie-cv-template" data-unit="unit-ie-cv-template/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        IE Template

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            It´s all about Bullets…
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="bullets" data-unit="unit-its-all-about-bullets/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        It’s all about Bullets…

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="powerful" data-unit="unit-185-powerful-verbs-that-will-make-your-resume-awesome/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Powerful Verbs that will make your resume awesome

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="convert-bullets" data-unit="unit-how-to-convert-bad-bullets-into-amazing-achievements/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        How to convert bad bullets into amazing achievements

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            Befriend the ATS!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="tracking-system" data-unit="unit-application-tracking-systems/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Application Tracking Systems

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->
                </div>
            </div>
            <!--./block .block-accordion-->

            <div class="block block--accordion accordion" style="--border-color: #555555;" ie-style="--border-color: #555555;">
                <div class="accordion__header">
                    <a href="#" class="btn btn--link-double btn--icon">
                        <span class="btn__icon btn__icon--left">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#check" />
                            </svg>
                        </span>

                        Introduction

                        <span class="btn__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                            </svg>
                        </span>
                    </a>
                    <!--./btn-link-double .btn-icon-->

                    <a href="#" class="accordion__button">
                        <span class="accordion__button-text">Expand</span>

                        <span class="accordion__button-icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#arrows" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="accordion__body">
                    <p>In this first module, you will begin by learning how to present your skills and qualifications
                        effectively and clearly; so that you are able to generate your own written overview of your life
                        work. Moreover, you will learn about the different ATS (applicant tracking systems), a type of
                        software commonly used by recruiters and employers during the hiring process to collect, sort,
                        scan, and rank the job applications they receive for their open positions.</p>

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle active">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            CVs that land Interviews!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="cv-vitae" data-unit="unit-cv-or-curriculum-vitae/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        CV or Curriculum Vitae

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item active">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon"  data-id="ie-cv-template" data-unit="unit-ie-cv-template/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        IE Template

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            It´s all about Bullets…
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="bullets" data-unit="unit-its-all-about-bullets/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        It’s all about Bullets…

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="powerful" data-unit="unit-185-powerful-verbs-that-will-make-your-resume-awesome/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Powerful Verbs that will make your resume awesome

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->

                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="convert-bullets" data-unit="unit-how-to-convert-bad-bullets-into-amazing-achievements/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#pdf" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        How to convert bad bullets into amazing achievements

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->

                    <div class="accordion__unit">
                        <h4 class="accordion__subtitle">
                            <span class="accordion__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#check" />
                                </svg>
                            </span>

                            Befriend the ATS!
                        </h4>
                        <!--./accordion__subtitle-->

                        <ul class="list list--unstyled accordion__list">
                            <li class="accordion__list-item">
                                <span class="accordion__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#check" />
                                    </svg>
                                </span>
                                <!--./accordion__icon-->
                                <a href="#" class="btn btn--link-double btn--icon" data-id="tracking-system" data-unit="unit-application-tracking-systems/">
                                    <span class="btn__icon btn__icon--left">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#video" />
                                        </svg>
                                    </span>

                                    <span class="btn__flex">
                                        Application Tracking Systems

                                        <span class="btn__icon">
                                            <svg role="presentation">
                                                <use xlink:href="../../img/sprite.svg#arrow-right" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                                <!--./btn-link-double .btn-icon-->
                            </li>
                            <!--./accordion__list-item-->
                        </ul>
                    </div>
                    <!--./accordion__unit-->
                </div>
            </div>
            <!--./block .block-accordion-->

            <div class="page__content-buttons">
                <a href="#" class="btn btn--primary btn--icon btn-unit">
                    START

                    <span class="btn__icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#arrow-rounded-right" />
                        </svg>
                    </span>
                </a>
                <!--./btn .btn-primary .btn-icon-->
            </div>
            <!--./page__content-buttons-->
        </div>
    </main>
</div>
