<div class="page page-authors">
    <header class="header">
        {{> @logo-nav}}

        <div class="breadcrumbs">
            <ul>
                <li class="breadcrumbs__home">
                    <a href="#">
                        <span class="breadcrumbs__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#home" />
                            </svg>
                        </span>
                        <span class="breadcrumbs__text">Home</span>
                    </a>
                </li>
                <li>
                    About the authors
                </li>
            </ul>
        </div>
        <!--./breadcrumbs-->

        <ul class="header__buttons">
            <li>
                <a href="#">
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>
                    Back
                </a>
            </li>
            <li>
                <a href="#">
                    Next
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>  <!--./header__buttons-->
    </header> <!--./header-->


    <main class="page__content">
        <div class="container">

            {{> @block--authors-header}}


            <div class="block block--authors" style="--border-color: #031282;" ie-style="--border-color: #031282;">
                <div class="block__content">
                    <img src="../../img/authors/irina-zilbergleyt.png" alt="" class="block__image">
                    <h3 class="block__title">Irina Zilbergleyt</h3>
                    <p class="block__job">Director of Advising and Education at Talent & Careers, IE University</p>

                    <p>Irina is responsible for design and implementation of career education and advising strategy for
                        all programs at IE. The team at Talent & Careers delivers career-related classes to help IE
                        students and alumni to map the most appropriate strategy for their professional development and
                        to equip them with up-to-the-minute techniques to use in the recruitment selection processes.
                        Irina is also a career advisor and lecturer for the Master in Finance and MBA programs on how to
                        break into investment banking and private equity industries. Irina has over 11 years of
                        experience in private equity and investment banking in New York and Chicago. Prior to joining
                        IE, Irina was a Vice President at Ares Management and Senior Associate at Allied Capital, where
                        she evaluated, structured and executed investments in real estate, private equity and fixed
                        income asset classes. Previously, she was a Corporate Finance Analyst at Merrill Lynch where she
                        participated in the execution of mergers and acquisitions as well as in transactions in the debt
                        and equity capital markets. Irina holds an undergraduate degree in Finance (summa cum laude)
                        from the University of Illinois at Urbana Champaign.</p>
                </div>
            </div>  
            <!--./block .block-authors-->

            <div class="block block--authors" style="--border-color: #3D8979;" ie-style="--border-color: #3D8979;">
                <div class="block__content">
                    <img src="../../img/authors/teresa-callejo.png" alt="" class="block__image">
                    <h3 class="block__title">Teresa Callejo</h3>
                    <p class="block__job">Associate Director at Talent & Careers</p>

                    <p>Raised between the USA and Spain, Teresa holds a degree from New York University and Universidad Autónoma of Madrid. Her personal belief is that people make all the difference. She has worked with professionals from all over the world as a Head Hunter and as HR Business Partner in Banking and FMCG. She has counselled many careers throughout her professional experience and understands the drivers for change and growth. Teresa has lived in 4 different countries and is proud be an advisor for International MBAs.</p>
                </div>
            </div>
            <!--./block .block-authors-->

            <div class="block block--authors" style="--border-color: #0097DC;" ie-style="--border-color: #0097DC;">
                <div class="block__content">
                    <img src="../../img/authors/alejandra-pena.png" alt="" class="block__image">
                    <h3 class="block__title">Alejandra de la Peña García-Arquimbáu</h3>
                    <p class="block__job">Associate Director at Talent & Careers</p>

                    <p>Alejandra holds a degree in Psychology from the Universidad Pontificia de Comillas and graduated from an International MBA at IE Business School in 2017. Worked in Talent Acquisition in the Head Hunting and Banking sectors in Chile and Spain, and currently works as an Associate Director at IE Talent & Careers, providing advising to students interested in developing a career in the financial industry. </p>
                </div>
            </div>
            <!--./block .block-authors-->

            <div class="block block--authors" style="--border-color: #D32E58;" ie-style="--border-color: #D32E58;">
                <div class="block__content">
                    <img src="../../img/authors/johan-turcios.png" alt="" class="block__image">
                    <h3 class="block__title">Johan Turcios</h3>
                    <p class="block__job">Associate Director at Talent & Careers</p>

                    <p>Raised in the USA and having lived in Spain for 10+ years, Johan holds a B.A. from Rutgers University and graduated from the Executive MBA program at IE Business School in Madrid, Spain. He enjoys matching people to the right opportunities. He has counselled many students throughout their professional development and understands there is no single approach when advising individuals. He has worked in Talent Acquisition and Content Creation in the Education and Startup sectors in the USA and Spain. He currently works as a proud advisor for University and Master’s students interested in developing a career in the FMCG industry.</p>
                </div>
            </div>
            <!--./block .block-authors-->

             <div class="page__content-buttons">
                <a href="#" class="btn btn--primary btn--icon btn--icon-left">
                    <span class="btn__icon btn__icon-left"> 
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>

                    HOME

                </a>
                <!--./btn .btn-primary .btn-icon-->
            </div>
            <!--./page__content-buttons-->

        </div>
    </main>
</div>