<div class="page page-unit page-quiz">
    <header class="header">
        {{> @logo-nav}}

        <div class="breadcrumbs">
            <ul>
                <li class="breadcrumbs__home">
                    <a href="#">
                        <span class="breadcrumbs__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#home" />
                            </svg>
                        </span>
                        <span class="breadcrumbs__text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">Make the most out of LinkedIn</a>
                </li>
                <li>
                   Test Your Knowledge
                </li>
            </ul>
        </div>
        <!--./breadcrumbs-->

        <nav class="navbar">
            <div class="container">
                <ul class="navbar__list">
                    <li class="navbar__list-item visited">
                        <a href="#" class="navbar__button">
                            <span class="tooltip">
                                <span class="navbar__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#pdf" />
                                    </svg>
                                </span>
                            
                                <span class="tooltiptext tooltip-bottom">How to Write a Cover Letter Step-by-Step: Self-Introduction</span>
                            </span>
                        </a>
                    </li>
                    <li class="navbar__list-item visited">
                        <a href="#" class="navbar__button">
                            <span class="tooltip">
                                <span class="navbar__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#pdf" />
                                    </svg>
                                </span>
                            
                                <span class="tooltiptext tooltip-bottom">How to Write a Cover Letter Step-by-Step: Self-Introduction</span>
                            </span>
                        </a>
                    </li>
                    <li class="navbar__list-item visited">
                        <a href="#" class="navbar__button">
                            <span class="tooltip">
                                <span class="navbar__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#pdf" />
                                    </svg>
                                </span>
                            
                                <span class="tooltiptext tooltip-bottom">How to Write a Cover Letter Step-by-Step: Self-Introduction</span>
                            </span>
                        </a>
                    </li>
                    <li class="navbar__list-item visited">
                        <a href="#" class="navbar__button">
                            <span class="tooltip">
                                <span class="navbar__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#pdf" />
                                    </svg>
                                </span>
                            
                                <span class="tooltiptext tooltip-bottom">How to Write a Cover Letter Step-by-Step: Self-Introduction</span>
                            </span>
                        </a>
                    </li>
                    <li class="navbar__list-item visited">
                        <a href="#" class="navbar__button">
                            <span class="tooltip">
                                <span class="navbar__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#pdf" />
                                    </svg>
                                </span>
                            
                                <span class="tooltiptext tooltip-bottom">How to Write a Cover Letter Step-by-Step: Self-Introduction</span>
                            </span>
                        </a>
                    </li>
                    <li class="navbar__list-item active">
                        <span class="navbar__button" style="--border-nav-color: #3D8979;" ie-style="--border-nav-color: #3D8979;">
                            <span class="navbar__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#cup" />
                                </svg>
                            </span>
                            <span class="sr-only">Unidad IE Template</span>
                        </span>
                    </li>
                </ul> <!--./navbar__list-->
            </div>
        </nav> <!--./navbar-->

        <ul class="header__buttons">
            <li>
                <a href="#">
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>
                    Back
                    <span class="sr-only">to the previous unit</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Next
                    <span class="sr-only">unit</span>
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>  <!--./header__buttons-->
    </header> <!--./header-->


    <main class="page__content">
        <div class="container">

            <div class="block block--unit-header" ie-style="--border-color: transparent;">
                <div class="block__content">
                    <p class="block__subtitle">Make the most out of LinkedIn</p>
                    <h1 class="block__title">
                        Final Quiz
                    </h1>

                    <p>You have reached the end of this program. Let us recap and review by answering each of the situational real-life questions with the most appropriate answer. Good Luck!</p>

                    <p class="block__check">
                        <span class="block__check-icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#check" />
                            </svg>
                        </span>

                        click all that apply
                    </p>
                </div>
            </div>
            <!--./block .block-unit-header-->

            <div class="block block--quiz" style="--border-color: #3D8979;" ie-style="--border-color: #3D8979;">
                <div class="block__content">
                    <h2 class="block__title">9. When I’m done writing my cover letter, I should … </h2>

                    <div class="block__question">
                        <div class="block__checkbox">
                            <div class="form-control__checkbox">
                                <label class="container">
                                    A. Send it immediately. 
                                    <input type="checkbox" checked="checked" disabled="disabled">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>
                                <span class="feedback">
                                    <img src="../../img/icons/bad.svg" alt="">
                                </span>
                                <strong>This option should not be selected.</strong> You need to double-check several times and make sure it sends the message you want to promote about yourself.
                            </p>
                            <!--form-control__checkbox-->
                        </div>

                        <div class="block__checkbox">
                            <div class="form-control__checkbox">
                                <label class="container">
                                    B. Step away and proofread later.  
                                    <input type="checkbox" checked="checked" disabled="disabled">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!--form-control__checkbox-->
                            <p>
                                <span class="feedback">
                                    <img src="../../img/icons/good.svg" alt="">
                                </span>
                                <strong>This option should be selected.</strong> You must proofread, proofread and proofread. You have to proofread and double-check your cover letter. You need to confirm there are no grammar mistakes, make sure that your examples flow and are clear. You don’t want the company to assume anything.
                            </p>
                        </div>

                        <div class="block__checkbox">
                            <div class="form-control__checkbox">
                                <label class="container">
                                    C. Ask a friend who is a fluent speaker to review it and give feedback. 
                                    <input type="checkbox" disabled="disabled">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!--form-control__checkbox-->
                            <p>
                                <span class="feedback">
                                    <img src="../../img/icons/bad.svg" alt="">
                                </span>
                                <strong>This option should be selected.</strong> One thing we highly recommend here is to ask your peers or those close to you, preferably a fluent speaker to review your cover letter. This will give you feedback and positive criticism. In addition, you can check if your peer reviewers see the message you are trying to get across.
                            </p>
                        </div>

                        <div class="block__checkbox">
                            <div class="form-control__checkbox">
                                <label class="container">
                                    D. Ask the recruiter to let you know if should revise anything.
                                    <input type="checkbox" disabled="disabled">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!--form-control__checkbox-->
                            <p>
                                <span class="feedback">
                                    <img src="../../img/icons/good.svg" alt="">
                                </span>
                                <strong>This option should not be selected.</strong> Unless the recruiter specifically gives you revision feedback (on their own behalf), never do this. It is not professional and you will automatically eliminate yourself from the recruitment process.
                            </p>
                        </div>
                    </div>

                    <div class="block__buttons">
                        <p>
                            <span class="block__buttons-icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#location" />
                                </svg>
                            </span>
                            Question 9 of 15
                        </p>

                        <div>
                            <a href="#" class="btn btn--link btn--icon">
                                <span class="btn__icon btn__icon-left">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#chevron-left" />
                                    </svg>
                                </span>

                                Previous question
                            </a>

                            {{!-- <a href="#" class="btn btn--secondary">Check your answer</a> --}}

                            <p class="block__buttons-finish">
                                Quiz finished!
                                <span class="block__buttons-icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#cup" />
                                    </svg>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!--./block .block-quiz-->


             <div class="page__content-buttons">
                <a href="#" class="btn btn--primary btn--icon btn--icon-left">
                    <span class="btn__icon btn__icon-left"> 
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>

                    Back
                    <span class="sr-only">to the previous unit</span>
                </a>
                <!--./btn .btn-primary .btn-icon-->
                <a href="#" class="btn btn--primary btn--icon">
                    Next
                    <span class="sr-only">unit</span>

                    <span class="btn__icon"> 
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                        </svg>
                    </span>
                </a>
                <!--./btn .btn-primary .btn-icon-->
            </div>
            <!--./page__content-buttons-->

        </div>
    </main>
</div>