<div class="form-control__checkbox">
    <label class="container">
        Esto es un checkbox
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
</div> <!--form-control__checkbox-->