<div class="page page-unit">
    <header class="header">
        {{> @logo-nav}}

        <div class="breadcrumbs">
            <ul>
                <li class="breadcrumbs__home">
                    <a href="#">
                        <span class="breadcrumbs__icon">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#home" />
                            </svg>
                        </span>
                        <span class="breadcrumbs__text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">How to write winning CVs!</a>
                </li>
                <li>
                    CVs that land Interviews!
                </li>
            </ul>
        </div>
        <!--./breadcrumbs-->

        <nav class="navbar">
            <div class="container">
                <ul class="navbar__list">
                    <li class="navbar__list-item active" style="--border-nav-color: #BA43BB;"  ie-style="--border-nav-color: #BA43BB;">
                        <span class="navbar__button">
                            <span class="navbar__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#video" />
                                </svg>
                            </span>
                            <span class="sr-only">CV or Curriculum Vitae</span>
                        </span>
                    </li>
                    <li class="navbar__list-item">
                        <a href="#" class="navbar__button">
                            <span class="tooltip">
                                <span class="navbar__icon">
                                    <svg role="presentation">
                                        <use xlink:href="../../img/sprite.svg#pdf" />
                                    </svg>
                                </span>
                            
                                <span class="tooltiptext tooltip-bottom">How to Write a Cover Letter Step-by-Step: Self-Introduction</span>
                            </span>
                        </a>
                    </li>
                </ul> <!--./navbar__list-->
            </div>
        </nav> <!--./navbar-->

        <ul class="header__buttons">
            <li>
                <a href="#">
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>
                    Back
                    <span class="sr-only">to the previous unit</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Next
                    <span class="sr-only">unit</span>
                    <span class="header__buttons-icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>  <!--./header__buttons-->
    </header> <!--./header-->


    <main class="page__content">
        <div class="container">

            <div class="block block--unit-header">
                <div class="block__content">
                    <p class="block__subtitle">CVs that land Interviews!</p>
                    <h1 class="block__title">
                        CV or Curriculum Vitae
                    </h1>
                </div>
            </div>
            <!--./block .block-unit-header-->

            <div class="block block--video" style="--border-color: #BA43BB;"  ie-style="--border-color: #BA43BB;">
                <div class="block__content">
                    {{> @video}}

                    <a href="../../pdf/ie-identity.pdf" class="btn btn--link-double btn--icon" download>
                        <span class="btn__icon btn__icon--left">
                            <svg role="presentation">
                                <use xlink:href="../../img/sprite.svg#pdf" />
                            </svg>
                        </span>

                        <span class="btn__flex">
                            VIDEO TRANSCRIPTION

                            <span class="btn__icon">
                                <svg role="presentation">
                                    <use xlink:href="../../img/sprite.svg#download" />
                                </svg>
                            </span>
                        </span>
                    </a> <!--./btn-link-double .btn-icon-->

                    <p class="block__text">Applicant Tracking Systems are a very important recruiting tool. Checking out these links, you will learn how to adapt your CV, making sure it is ATS friendly.</p>

                    <h2 class="block__subtitle">Links</h2>

                    <ul class="list list--messy">
                        <li>
                            <span>
                                Job Scan: 
                                <a href="https://www.jobscan.co/" class="btn btn--link btn--icon" target="_blank">
                                    https://www.jobscan.co/
                                    <span class="btn__icon">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                                        </svg>
                                    </span>
                                </a>

                            </span>
                        </li>
                        <li>
                            <span>
                                Resume Worded:
                                <a href="https://resumeworded.com/resume-scanner" class="btn btn--link btn--icon" target="_blank">
                                    https://resumeworded.com/resume-scanner
                                    <span class="btn__icon">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                                        </svg>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                Top Resume:
                                <a href="https://www.topresume.com/resume-review" class="btn btn--link btn--icon" target="_blank">
                                    https://www.topresume.com/resume-review
                                    <span class="btn__icon">
                                        <svg role="presentation">
                                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                                        </svg>
                                    </span>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div> <!--./.block block-video-->

             <div class="page__content-buttons">
                <a href="#" class="btn btn--primary btn--icon btn--icon-left">
                    <span class="btn__icon btn__icon-left"> 
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-left" />
                        </svg>
                    </span>

                    Back
                    <span class="sr-only">to the previous unit</span>
                </a>
                <!--./btn .btn-primary .btn-icon-->
                <a href="#" class="btn btn--primary btn--icon">
                    Next
                    <span class="sr-only">unit</span>

                    <span class="btn__icon"> 
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#chevron-right" />
                        </svg>
                    </span>
                </a>
                <!--./btn .btn-primary .btn-icon-->
            </div>
            <!--./page__content-buttons-->

        </div>
    </main>
</div>