<div class="video-wrapper video-wrapper--video">
    <a href="#" class="video-wrapper__cover" data-video-target="defaultVideo">
        <img src="../../img/video/video-cover.jpg" alt="">

        <span class="video-wrapper__play">
            <img src="../../img/icons/play.svg" alt="">
            <span class="sr-only">Play video</span>
        </span>
    </a>
    <div id="defaultVideo" class="video-wrapper__video" data-video-source="http://media.ie.edu/multimedia/machine-learning/profesora_2.mp4" 
    data-video-caption-ori="/subtitulos/profesora_1.srt" 
    data-video-caption-alt="/subtitulos/profesora_1_es.srt" 
    data-video-language-ori="English" 
    data-video-language-alt="Español">
        <div id="vc-defaultVideo" class="video-wrapper__content"></div>
    </div>
</div>