<nav class="navbar">
    <div class="container">
        <ul class="navbar__list">
            <li class="navbar__list-item active">
                <a href="#" class="navbar__button" style="--border-nav-color: #BA43BB;">
                    <span class="navbar__icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#video" />
                        </svg>
                    </span>
                    <span class="sr-only">CV or Curriculum Vitae</span>
                </a>
            </li>
            <li class="navbar__list-item">
                <a href="#" class="navbar__button">
                    <span class="navbar__icon">
                        <svg role="presentation">
                            <use xlink:href="../../img/sprite.svg#pdf" />
                        </svg>
                    </span>
                    <span class="sr-only">Unidad IE Template</span>
                </a>
            </li>
        </ul> <!--./navbar__list-->
    </div>
</nav> <!--./navbar-->