<code>.list--messy</code>
<ul class="list list--messy">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Nesciunt recusandae asperiores</li>
  <li>Totam perferendis adipisci</li>
  <li>Earum excepturi sed enim</li>
  <li>Debitis iste provident</li>
  <li> Item en listado
      <ul>
        <li>Repellendus saepe qui illo</li>
        <li>Repellendus saepe qui illo</li>
        <li>Repellendus saepe qui illo</li>
        <li>Repellendus saepe qui illo</li>
      </ul>
  </li>
</ul>

<hr>

<code>.list--ordered</code>
<ol class="list list--ordered">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Nesciunt recusandae asperiores</li>
  <li>Totam perferendis adipisci</li>
  <li>Earum excepturi sed enim</li>
  <li>Debitis iste provident</li>
  <li>Repellendus saepe qui illo</li>
</ol>
